@font-face {
  font-family: "Busillis";
  src: url("/fonts/In die busillis.ttf");
}

.d-respira {
  font-family: "Della Respira", serif;
  font-style: normal;
}

.im-fell {
  font-family: "IM Fell English", serif;
  font-style: normal;
}
