@import "tailwindcss";

:root {
  --damask: #061822;
  --paper: #ffe9d7;
  --red: #cf623c;
  --secondary: #e9a054;
}

html,
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  max-width: 100dvw;
  max-height: 100dvh;
  background-color: var(--damask);
  overflow: hidden;
}

.della-respira-regular {
  font-family: "Della Respira", serif;
  font-weight: 400;
  font-style: normal;
}

.scroller {
  scrollbar-color: var(--red) rgba(0,0,0,0);
}

.link {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
   padding-top: .25rem;
  color: var(--red);
  text-decoration: underline;
}

.link:hover {
  background: var(--red);
  color: var(--paper);
  cursor: pointer;
}
